services:
  keycloak:
    image: docker.io/bitnami/keycloak:26.2.4
    container_name: keycloak
    environment:
      - KEYCLOAK_DATABASE_VENDOR=postgresql
      - KEYCLOAK_DATABASE_HOST=postgresql
      - KEYCLOAK_DATABASE_PORT=5432
      - KEYCLOAK_DATABASE_NAME=keycloak
      - KEYCLOAK_DATABASE_USER=pgadmin
      - KEYCLOAK_DATABASE_PASSWORD=pgadmin
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KEYCLOAK_CREATE_ADMIN_USER=true
      - KEYCLOAK_EXTRA_ARGS=--import-realm
      - KC_HEALTH_ENABLED=true
      - BITNAMI_DEBUG=true
    ports:
      - "8081:8080"
    depends_on:
      - postgresql
    volumes:
      - ./keycloak/realm-events.json:/opt/bitnami/keycloak/data/import/realm-events.json
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/realms/master" ]
      interval: 4s
      timeout: 2s
      retries: 10

  postgresql:
    image: bitnami/postgresql:17
    environment:
      POSTGRESQL_USERNAME: pgadmin
      POSTGRESQL_PASSWORD: pgadmin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/bitnami/postgresql
      - ./postgres/init-multiple-dbs.sql:/docker-entrypoint-initdb.d/init-multiple-dbs.sql
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "pgadmin" ]
      interval: 2s
      timeout: 2s
      retries: 10

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.99.0
    container_name: otel-collector
    volumes:
      - ./otel/otel-config.yaml:/etc/otel/config.yaml
    command: ["--config=/etc/otel/config.yaml"]
    ports:
      - "4317:4317"
      - "4318:4318"
      - "8889:8889"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./observability/build/generated/prometheus_rules.yaml:/etc/prometheus/alerts.yaml
    ports:
      - "9090:9090"
    depends_on:
      - otel-collector

  loki:
    image: grafana/loki:3.1.0
    container_name: loki
    command: ["-config.file=/etc/loki/config.yaml"]
    ports:
      - "3100:3100"
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/config.yaml:ro
      - loki_data:/loki
    restart: unless-stopped

  grafana:
    image: grafana/grafana:11.1.0
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      # local-friendly defaults
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      # optional: makes it easier to use alerts/datasources via provisioning
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    depends_on:
      - loki
      - prometheus
    restart: unless-stopped

volumes:
  postgres_data:
  loki_data:
  grafana_data:
